{% extends "base.html" %}

{% block content %}

{% if page.lang == "fr" %}
    {% set language = "francais"%}
{% else %}
    {% set language = "english"%}
{% endif %}

<div id="about" class="container {{ language }}">

    <div id="intro" class="block" style="background-color: #F1FF80;">
        <p class="fr"> Graphiste, autrice et illustratrice indépendante depuis 2018, je réalise des projets de commande dans des domaines variés allant de l’identité visuelle à l’édition, en passant par la signalétique d’exposition voire les objets en trois dimensions. Avec un goût prononcé pour le jeu et la transmission, je
			développe aussi des projets de narration par l’image, à cheval entre la didactique visuelle et le théâtre d’objets. Ces formes hybrides débordent sur l’écriture, la vidéo et la scénographie et tentent de répondre à ce genre de questions :
			<ul><li>🡢 Comment accompagner visuellement des explications et des récits oraux ?</li>
			<li>🡢 Comment visualiser et transmettre la complexité de certains faits,
			qu’ils soient historiques, géopolitiques ou scientifiques ?</li>
			<li> 🡢 Comment transformer la dense quantité d’informations du monde</li>
			qui nous entoure, en récits et en images ?
			<li>🡢 Est-ce que les images et les gestes peuvent raconter ce que
			l’on n’arrive pas à dire ?</li></ul></p>
		<p class="en">Graphic designer, author and freelance illustrator since 2018, I work on commissioned projects in a wide range of fields, from visual identity and publishing to exhibition signage and even three-dimensional objects.

			With a strong interest in play and transmission, I also develop visual narrative projects, somewhere between visual didactics and object theatre. These hybrid forms spill over into writing, video and scenography, and seek to answer questions such as:
			<ul>
			<li>🡢 How can visual forms accompany explanations and oral narratives?</li>
			<li>🡢 How can we visualize and convey the complexity of certain facts — historical, geopolitical, or scientific?</li>
			<li>🡢 How can we transform the overwhelming amount of information around us into stories and images?</li>
			<li>🡢 Can images and gestures express what words sometimes cannot?</li></ul>
	</p>
		<ul>

			<li class="fr">Vit entre Zürich et Paris</li>
			<li class="en">Lives between Zürich and Paris</li>
            <li><a href="mailtojuliette.nier@gmail.com" style="text-decoration: none">→ juliette.nier@gmail.com</a></li>
            <li><a href="https://www.instagram.com/juliette_nier/?hl=fr" style="text-decoration: none">→ Instagram</a></li>
            <li><a href="www.linkedin.com/in/juliette-nier-476465229" style="text-decoration: none">→ LinkedIn</a></li>
		</ul>
    </div>

    <div id="cv" class="block" style="background-color: #BDD5D8;">
		<section>
			<h2 class="fr">Travaux de commande</h2>
			<h2 class="en">Order projects</h2>
			<ul>
				<li class="fr">Société des Amis de la BnF </li>
					<li class="fr">Cité du design / ESADSE Saint-Étienne - Le Cydre - Revue Azimuts</li>
					<li class="en">Cité du design / ESADSE Saint-Étienne - Le Cydre - Revue Azimuts</li>
				<li class="en">Society of Friends of the National Library of France, Paris</li>
				<li class="fr">École des Arts Décoratifs</li>
				<li class="en">École des Arts Décoratifs, Paris</li>
				<li class="fr">Brasserie de La Vanne</li>
				<li class="en">Brasserie de la Vanne, French Brewery, Paris</li>
				<li class="fr">Site Saint-Sauveur – Centre d’art, Rocheservière</li>
				<li class="en">Art center, Rocheservière (49)</li>
				<li class="fr">Mission Société Numérique – Ministère de l’Économie et des Finances</li>
				<li class="en">Ministry of Finance and Economy – Digital Department</li>
				<li class="fr">Amurabi – Legaldesign</li>
				<li class="en">Amurabi – Legaldesign agency</li>
				<li class="fr">Agence C-album</li>
				<li class="en">C-album agency</li>
				<li class="fr">Mission Développement Durable – Ministère de la Culture </li>
				<li class="en">Ministry of Culture – Sustainable Development Department</li>
				<li class="fr">Honoré Visconti – Label de productions artistiques</li>
				<li class="en">Honoré Visconti – artistic production label</li>
				<li class="fr">Projet Lutétium – chaîne vidéos de vulgarisation scientifique</li>
				<li class="en">Projet Lutétium – chaîne vidéos de vulgarisation scientifique</li>
				<li class="fr">Versus Art – revue d’art</li>
				<li class="fr, en">…</li>
			  
			</ul>
		</section>
		<section>
			<h2 class="fr">Résidences, prix, expositions</h2>
			<h2 class="en">Residencies, awards, exhibitions</h2>
			<ul>
				<li class="fr"><sup>2024-2025</sup> Arte Incubation </li>
				<li class="en"><sup>2024-2025</sup> Arte Incubation </li>
				<li class="fr"><sup>2023-2024</sup> Résidence de 9 mois avec La Physique Autrement</li>
				<li class="en"><sup>2023-2024</sup>Residency in a Research Team, LPS, Paris Saclay
					Popularization of quantum physics</li>
				<li class="fr"><sup>2022</sup> Exposition Muséosciences - Musée de Picardie, Amiens</li>
				<li class="en"> <sup>2022</sup> Museosciences – Exhibition in Musée of Picardie, Amiens</li>
				<li class="fr"><sup>2022</sup> Résidence Prospective graphiques, Le Signe, Centre national du Graphisme </li>
				<li class="en"><sup>2022</sup> Research on how to inform future generation about the existence of nuclear waste 6 months
					residency organized by Centre National du Graphisme, Chaumont and the French National Agency
					for Radioactive waste</li>
				<li class="fr"><sup>2021</sup> Participation à l’exposition 100% Sorties d’écoles à La Grande Halle de La Villette</li>
				<li class="en"> <sup>2021</sup> 100% Sorties d’écoles – Exhibition of young artists –
					La Villette, Paris</li>
				<li class="fr"><sup>2019</sup> Résidence Création en Cours – 3<sup>e</sup> édition Avec la classe de CM1/CM2 de l’école de Rachecourt (52)</li>
				<li class="en"> <sup>2019</sup> 3 months Residency with a class in primary school
					Supported by Atelier Medicis, Ministry of Culture
					& Ministry ofEducation</li>
				
			</ul>
		</ul>
		</section>
		<section>
			<h2 class="fr">Publications & conférences</h2>
			<h2 class="en">Publications & lectures</h2>
			<ul>
				<li class="fr"><sup>2025</sup> Dix ans : Une autre façon de raconter – EHESS-MUCEM – Marseille </li>
				<li class="fr"><sup>2025</sup> Dix ans : Une autre façon de raconter – EHESS-MUCEM – Marseille</li>
				<li class="fr"><sup>2024</sup> Archives de l’invisible – Ceres, Faculté des Lettres et des Sciences Humaines, Limoges</li>
				<li class="fr"><sup>2024</sup> Archives de l’invisible – Ceres, Faculté des Lettres et des Sciences Humaines, Limoges</li>
				<li class="fr"><sup>2024</sup> <a href="https://www.didactiquevisuelle.fr/manipuler-le-monde-pour-mieux-le-saisir/"> Manipuler le monde pour mieux le saisir </a> – Atelier didactique de la HEAR – Strasbourg</li>
				<li class="fr"><sup>2024</sup> <a href="https://www.didactiquevisuelle.fr/manipuler-le-monde-pour-mieux-le-saisir/"> Manipuler le monde pour mieux le saisir </a> – Atelier didactique de la HEAR – Strasbourg</li>
				<li class="fr"><sup>2024</sup> Écritures Alternatives de la recherche en sciences sociales – Université de Nantes & Maison Ange Guépin</li>
				<li class="en"><sup>2024</sup> Écritures Alternatives de la recherche en sciences sociales – Université de Nantes & Maison Ange Guépin</li>
				<li class="fr"><sup>2022</sup> Conférence aux Rencontres de Lure </li>
				<li class="en"><sup>2022</sup> Conference at 70e edition of Rencontres de Lure</li>
				<li class="fr"><sup>2021</sup> Catalogue 100% Sorties d’écoles, La Villette</li>
				<li class="en"><sup>2021</sup>  Catalogue 100% Sorties d’écoles, La Villette</li>
				<li class="fr"><sup>2021</sup> INHA, Journée d’études - Intervention performée Globalisation, art et prospective – Atelier 6 : Cent/Mille ans : généalogies et perspectives du musée national de Damas </li>
				<li class="en"><sup>2021</sup>National Institute of Art History, Study Day :
					Genealogy and Perspectives of the Damascus Museum</li>
				<li class="fr"><sup>2020</sup> À propos de ce qui se passe : épisode 2 publié dans Préfaces à un livre pour un musée Syrien, Mathilde Ayoub – Zamân books, 2020</li>
				<li class="en"><sup>2020</sup> À propos de ce qui se passe : épisode 2 in
					Mathilde Ayoub : Préfaces à un livre pour un musée
					Syrien, Zamân books, 2020</li>
				<li class="fr"><sup>2019</sup> À propos de ce qui se passe – Conférence manipulée lors du cycle « La geste technique » – Vieille Charité – EHESS/MUCEM – Marseille</li>
				<li class="en"><sup>2019</sup> Seminar "Technical Gesture" – EHESS/MUCEM – Marseille</li>
			</ul>
		</ul>
		</section>
		<section>    
			<h2 class="fr">Workshops & ateliers</h2>
			<h2 class="en">Workshops</h2>
			<ul>
				<li class="fr"><sup>2024</sup> Workshop « Un message aux extra-terrestres » - Ensad - Avec La Physique Autrement</li>
				<li class="en"><sup>2024</sup> Workshop « A message to the aliens » - Ensad - with La Physique Autrement</li>
				<li class="fr"><sup>2023</sup> Workshop « Projections » - Ecole de design de Troyes</li>
				<li class="en"><sup>2023</sup> Workshop « Projections » - Ecole de design de Troyes</li>
				<li class="fr"><sup>2023</sup> Workshop « Time Capsule » - EnsAD – Avec Julienne Richard et Joséphine Ohl</li>
				<li class="en"><sup>2023</sup> Workshop « Time Capsule » - EnsAD – With Julienne Richard and Joséphine Ohl</li>
				<li class="fr"><sup>2022</sup> Workshop « Télé-travail » - Cité du design - Saint-Étienne</li>
				<li class="en"><sup>2022</sup> Workshop « Télé-travail » - Cité du design - Saint-Étienne</li>
				<li class="fr"><sup>2022</sup> Workshop « Manipuler le monde » – EnsAD</li>
				<li class="en"><sup>2022</sup> Workshop « Manipuler le monde » – EnsAD</li>
				<li class="fr"><sup>2020</sup> Workshop « Banquet », avec les élèves de 1ere année – EnsAD</li>
				<li class="en"><sup>2020</sup> Workshop « Banquet », avec les élèves de 1ere année – EnsAD</li>
				<li class="fr"><sup>2020</sup> « Chroniques d’un été » – Ateliers Médicis, Clichy-sous-bois</li>
				<li class="en"><sup>2020</sup> « Chroniques d’un été » – Ateliers Médicis, Clichy-sous-bois</li>
				<li class="fr"><sup>2020</sup> Workshop «Azimuts #52» avec les étudiants-chercheurs du Cydre, ESADSE, Saint-Étienne</li>
				<li class="en"><sup>2020</sup> Workshop «Azimuts #52» With students from "Cycle de recherche en Design", ESADSE, Saint-Étienne</li>
			</ul>
		</section>
		<section>
			<h2 class="fr">Commissariat d'exposition</h2>
			<h2 class="en">Exhibition curation</h2>
			<ul>
				<li class="fr"><sup>2021</sup> Bouphonie, en 3 actes + 1 au 6b, à Saint-Denis</li>
				<li class="en">Bouphonie, en 3 actes + 1 – 6b, in Saint-Denis</li>
				<li class="fr"><sup>2018</sup> Loi Carrez, une exposition d’appartement </li>
				<li class="en"><sup>2018</sup> Loi Carrez, an exhibition in an appartment </li>
				<li class="fr"><sup>2017</sup> Zum, Zoom, Zoum – Galerie GapGap à Leipzig</li>
				<li class="en"><sup>2017</sup> Zum, Zoom, Zoum – GapGap Gallery in Leipzig</li>
				<li class="fr"><sup>2015</sup> Résistance – La Générale, Paris XI</li>
				<li class="en"><sup>2015</sup> Résistance – La Générale, Paris XI</li></li>
			</ul>
		</section>
		<section>
			<h2 class="fr">Presse</h2>
			<h2 class="en">Press</h2>
			<ul>
				<li class="fr"><sup>2025</sup> Graphisme en France nº31 – " Que peut le design graphique dans l'anthropocène ? ", Florence Cortat Roller <br></li>
				<li class="en"><sup>2025</sup> Graphisme en France nº31 – "Que peut le design graphique dans l'anthropocène?", Florence Cortat Roller <br></li>
				<li class="fr"><sup>Avril 2021</sup> Interview, DUU* RADIO <br></li>
				<li class="en"><sup>April 2021 </sup> Interview, DUU* RADIO <br></li>
				<li class="fr"><sup>Mars 2021</sup> « On ne badine pas avec l’ENSAD », Étapes nº260</li>
				<li class="fr"><sup>March 2021</sup> « On ne badine pas avec l’ENSAD », Étapes nº260</li>
				<li class="fr"><sup>Février 2021</sup> « Diplômés, et après ? », Beaux-Arts Magazine </li>
				<li class="en"><sup>February 2021</sup> « Diplômés, et après ? », Beaux-Arts Magazine </li>
				<li class="fr"><sup>Janvier 2021</sup> « C’est vendredi, c’est bouphonie », Revue Décor</li>
				<li class="en"><sup>January 2021</sup> « C’est vendredi, c’est bouphonie », Revue Décor</li>
				<li class="fr"><sup>Janvier 2021</sup> « Au 6b, Bouphonie célèbre nos superstitions comiques »</li>
				<li class="en"><sup>January 2021</sup> « Au 6b, Bouphonie célèbre nos superstitions comiques »</li>
				<li class="fr"><sup>Avril 2019</sup> « Foisonnement de savoir-faire », Journal ZIbeline </li>
				<li class="en">April 2019</sup> « Foisonnement de savoir-faire », Journal Zibeline </li>
			</ul>
		</section>
		<section>
			<h2 class="fr">Formation</h2>
			<h2 class="en">Education</h2>
			<ul>
				<li class="fr"><sup>2013-2018</sup> École des Arts Décoratifs, Paris – Section Design graphique et multimédia <br></li>
				<li class="en"><sup>2013-2018</sup> École des Arts Décoratifs, Paris – Master degree in Graphic Design<br></li>
				<li class="fr"><sup>2018</sup> Diplôme " À propos de ce qui se passe - épisode 1 "</li>
				<li class="en">2018</sup> Master's project " À propos de ce qui se passe - épisode 1 "</li>
				<li class="fr"><sup>2017</sup> Mémoire " Mode d'emplois : Languages de signes, Dialogues de sourds " </li>
				<li class="en"> <sup>2017</sup>Master thesis "Instructional leaflets : Signs language, dialogue of the deaf"</li>
				<li class="fr"><sup>2016-2017</sup> Échange à la Hochschule Fuer Grafik und Buchkunst, Leipzig</li>
				<li class="en">2017 Semester in Hochschule für Grafik und Buchkunst, Leipzig/li>
				<li class="fr"><sup>STAGES</sup> C-Album, Honoré Visconti, Yes We Camp</li>
				<li class="en"><sup>INTERNSHIPS</sup> C-Album, Honoré Visconti, Yes We Camp</li></li>
			</ul>
		</section>
		<p class="fr">Avril 2024 - Développé par Quentin Astié - Merci à Lucas Lebihan et Marie-Julie Tang Tardieux - Fonts : Brut Grotesque</p>
		<p class="en">2024 April - Developped by Quentin Astié - Thanks to Lucas Lebihan and Marie-Julie Tang Tardieux - Fonts : Brut Grotesque</p>
	</div>

</div>

{% endblock %}