{% extends "base.html" %}

{% block content %}

<div id="projet">


	
	<div class="contenu" style="background-color: #F1FF80;">

	<p style="font-size: 2em;" "line-height:1.3em;"> 
		Graphiste indépendante depuis 2018, je réalise des projets de commandes dans des domaines variés allant de l’identité visuelle à la signalétique d’exposition, en passant par l’édition voire les objets en trois dimensions. Avec un goût prononcé pour le jeu, et la transmission, je poursuis parallèlement, un projet de recherche, à cheval entre la didactique visuelle et le théâtre d’objets. Développés lors de résidences, d’ateliers et d’expositions, ces récits de vulgarisations débordent sur l’écriture, la vidéo et la scénographie.<br/>
		
		<br/>	<a href="mailto:juliette.nier@gmail.com" style="text-decoration: none">→ juliette.nier@gmail.com <br/></a>
		<a href="https://www.instagram.com/juliette_nier/?hl=fr" style="text-decoration: none">→ Instagram</a><br/>
		<a href="www.linkedin.com/in/juliette-nier-476465229" style="text-decoration: none">→ LinkedIn</a>
		
	

		
		
	</p></div>
	<div class="contenu" style="background-color: #BDD5D8;">
<div class="row" >		
  <div class="column">		
<p>
<span class="titre">TRAVAUX DE COMMANDES</span>
Société des Amis de la BnF<br/>
Cité du design / ESADSE - Le Cydre - Revue Azimuts <br/>
École des Arts Décoratifs<br/>
Brasserie de La Vanne<br/>
Site Saint-Sauveur – Centre d’art, Rocheservière <br/>
Mission Société Numérique – Ministère de l’Économie et des Finances<br/>Amurabi – Legaldesign<br/>
Agence C-album <br/>
Mission Développement Durable – Ministère de la Culture <br/>
Tulipes & Cie – Maison de production<br/>
Les éditions extensibles<br/>
Honoré Visconti – Label 
de productions artistiques<br/>
Projet Lutétium – chaîne vidéos 
de vulgarisation scientifique<br/>
Versus Art – revue d’art<br/>
	(…)<br/>
<br/>
		</p>
<p >
	<span class="titre">RÉSIDENCES, PRIX, EXPOSITIONS</span>
	<sup>2023</sup> Résidence de 9 mois avec La Physique Autrement<br/>
<sup>2022</sup> Exposition Muséosciences - Musée de Picardie, Amiens<br/>
<sup>2022</sup> Résidence Prospective graphiques , 
Le Signe, Centre national du Graphisme <br/>
<sup>2021</sup> Participation à l’exposition 100% Sorties d’écoles
à La Grande Halle de La Villette<br/>
<sup>2021</sup> Résidence avec le centre socio-culturel de Falaise (14)
dans le cadre du Festival Transat des Ateliers Médicis<br/>
<sup>2020</sup> Résidence à La Générale Nord-Est, Paris 14e<br/>
<sup>2019</sup>Résidence « Ficha Éditions »<br/>
Parcours artistique à St-Geniez-d’Olt (Aveyron)<br/>
<sup>2019</sup> Résidence & exposition « Pleins les mirettes »
chez Bellevue, artist runspace – Douarnenez<br/>
<sup>2019</sup> Résidence Création en Cours – 3eme édition
Avec la classe de CM1/CM2 de l’école de Rachecourt (52)<br/>
<sup>2018</sup> Prix Bettencourt-Schueller/Ensad : Séries de litographies 
co-réalisées avec l’Atelier à Fleur de Pierre<br/>
<br/>

</p>
	 </div>
	<div class="column">
<p>
<span class="titre">PUBLICATIONS & CONFÉRENCES</span>
<sup>2022</sup> Conférence aux Rencontres de Lure <br/>
<sup>2021</sup> Catalogue 100% Sorties d’écoles, La Villette<br/>
<sup>2021</sup> INHA, Journée d’études - Intervention performée
Globalisation, art et prospective – Atelier 6 : Cent/Mille ans :
généalogies et perspectives du musée national de Damas <br/>
<sup>2020</sup> À propos de ce qui se passe : épisode 2 publié dans
Préfaces à un livre pour un musée Syrien, Mathilde Ayoub
 – Zamân books, 2020<br/>
<sup>2019</sup> À propos de ce qui se passe  – Conférence manipulée
lors du cycle « La geste technique » – Vieille Charité – 
EHESS/MUCEM – Marseille
<br/>
</p>
		<p>
<br/>
			<span class="titre">WORKSHOPS & ATELIERS</span>
<sup>2023</sup> Workshop « Projections » - Ecole de design de Troyes<br/>
<sup>2023</sup> Workshop « Time Capsule » - EnsAD – Avec Julienne Richard et Joséphine Ohl<br/>
<sup>2022</sup> Workshop « Télé-travail » - Cité du design - Saint-Étienne<br/>
<sup>2022</sup> Workshop « Manipuler le monde » – EnsAD<br/>
<sup>2020</sup> Workshop « Banquet », avec les élèves de 1ere année – EnsAD<br/>
<sup>2020</sup> « Chroniques d’un été » – Ateliers Médicis, Clichy-sous-bois<br/>
<sup>2020</sup> Workshop «Azimuts #52» avec les étudiants-chercheurs du Cydre, ESADSE, Saint-Étienne<br/><br/>
</p> </div>

<div class="column">
	<p>
<span class="titre">COMMISSARIAT D’EXPOSITION</span>
<sup>2021</sup> Bouphonie, en 3 actes + 1 au 6b, à Saint-Denis<br/>
		<sup>2018</sup> Loi Carrez, une exposition d’appartement <br/>
<sup>2017</sup> Zum, Zoom, Zoum – Galerie GapGap à Leipzig<br/>
<sup>2015</sup> Résistance – La Générale, Paris XI<br/>
<br/>
</p>
	<p>
		<span class="titre">PRESSE</span>
<sup>Avril 2021</sup> Interview, DUU* RADIO  <br>
<sup>Mars 2021</sup> « On ne badine pas avec l’ENSAD », Étapes nº260<br/>
<sup>Février 2021</sup> « Diplômés, et après ? », Beaux-Arts Magazine <br/>
<sup>Janvier 2021</sup> « C’est vendredi, c’est bouphonie », Revue Décor<br/>
<sup>Janvier 2021</sup> « Au 6b, Bouphonie célèbre nos superstitions comiques »<br/>
<sup>Avril 2019</sup> « Foisonnement de savoir-faire », Journal ZIbeline <br/>
<br/>
		
		<span class="titre">FORMATION</span>
<sup>2013-2018</sup> École des Arts Décoratifs, Paris – Section Design graphique et multimédia <br>
		<sup>2018</sup> Diplôme " À propos de ce qui se passe - épisode 1 "<br/>
		<sup>2017</sup> Mémoire " Mode d'emplois : Languages de signes, Dialogues de sourds " <br/>

<sup>2016-2017</sup> Échange à la Hochschule Fuer Grafik und Buchkunst, Leipzig<br/>
<sup>STAGES</sup> C-Album, Honoré Visconti, Yes We Camp<br/>
		<span class="titre"></span>		
<p id="details"> Octobre 2022 - Développé par Juliette Nier - Merci à Lucas Lebihan et Marie-Julie Tang Tardieux - Fonts : Brut Grotesque  </p>

<br/>
</p>
	</div>
		
</div>
	
</div>	</div>

{% endblock %}