<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Juliette Nier</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/styles.css" />
    <link rel="icon" type="image/x-icon" href="img/test.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/caroussel.js"></script>
    <script src="{{ SITEURL }}/theme/js/filters.js"></script>
</head>

    <body>
    <div id="menu" style="color: black;">
        <p id="contact"><a href="index.html" style="text-decoration: none; color:#7B1EFF">JULIETTE NIER</a> </p>
		<p id="apropos"><a href="cv-nier.html" style="text-decoration: none;">À PROPOS</a></p>
		<p id="identity"> <a href="projets.html" style="text-decoration: none; ">PROJETS </a> </p>
		<p id="ateliers"> <a href="portfolio_en_jnier-2024.pdf" style="text-decoration: none;">PORTFOLIO [EN]</a> </p>
    </div>

{% block content %}{% endblock %}

</body>
</html>