<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Juliette Nier</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/styles.css" />
    <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/theme/img/test.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/caroussel.js"></script>
    <script src="{{ SITEURL }}/theme/js/filters.js"></script>
</head>

    <body>

    {% set english_pages = [] %}
    {% set french_pages = [] %}
    {% set actual_slug = page.slug %}
    {% for page in pages %}
        {% if page.lang == 'en' %}
            {% set english_pages = english_pages.append(page) %}
        {% else %}
            {% set french_pages = french_pages.append(page) %}
        {% endif %}
    {% endfor %}

    <div id="menu" style="color: black">
        {% if page.lang == "en" %}
            <ul>
                {% for page in english_pages %}
                    {% if page.slug == "home" %}
                        <li {% if page.slug == actual_slug %} class="active" {% endif %}><a href="index.html">Juliette Nier</a></li>
                    {% else %}
                        <li  {% if page.slug == actual_slug %} class="active" {% endif %}><a href="{{ page.slug }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="../{{ page.translation }}">FR</a></li>
            </ul>
        {% else %}
            <ul>
                {% for page in french_pages %}
                    {% if page.slug == "accueil" %}
                        <li {% if page.slug == actual_slug %} class="active" {% endif %}><a href="../index.html">Juliette Nier</a></li>
                    {% else %}
                        <li {% if page.slug == actual_slug %} class="active" {% endif %}><a href="../{{ page.slug }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="../en/{{ page.translation }}">EN</a></li>
            </ul>
        {% endif %}
    </div>

    {% block content %}{% endblock %}

    </body>
</html>