{% extends "base.html" %}

{% block content %}

{% if page.lang == "fr" %}
    {% set language = "francais"%}
{% else %}
    {% set language = "english"%}
{% endif %}

<div id="index" class="container {{ language }}" style="background-color: none;">

    <div class="block" style="background-color: #C0EBFF; ">
        <h1 class="fr">→ Design graphique, vulgarisation, récits</h1>
        <h1 class="en">→ Graphic design, popularization, storytelling</h1>
    </div>

    <div class="block" style="background-color: #BDD5D8;">
        <h2 class="fr">Récemment</h2>
        <h2 class="en">Recently</h2>

        <div class="images">
            <figure>
                <img src="/images/index/pluspetitexpose.jpg" alt="juliette nier">
                <figcaption class="fr">Le plus petit exposé of the world – Une conférence dans des boîtes d'allumettes avec <a href="https://hebergement.universite-paris-saclay.fr/supraconductivite/projet/bifurcations_quantiques/">La Physique Autrement.</a></figcaption>
                <figcaption class="en">The smallest conference of the world – A conference in matchboxes with <a href="https://hebergement.universite-paris-saclay.fr/supraconductivite/projet/bifurcations_quantiques/">La Physique Autrement.</a></figcaption>
            </figure>

            <figure>
                <img src="/images/index/mais.png" alt="juliette nier">
                <figcaption class="fr">Un film en cours de réalisation avec l'anthropologue Francesca Cozzolino et la réalisatrice Coralie Maurin</figcaption>
                <figcaption class="en">A film in progress with anthropologist Francesca Cozzolino and director Coralie Maurin</figcaption>
            </figure>
            

            <figure>
                <img src="/images/index/rosolino1.jpg" alt="juliette nier">
                <figcaption class="fr"> Une typographie développée pour un projet de signalétique</figcaption>
                <figcaption class="en"> A font developped for a signage project</figcaption>
            </figure>
        </div>

    </div>

    <!-- Filtres -->
    <div class="block" style="background-color: white;">

        <h2 class="fr"><a href="projets/" style="text-decoration: none">Projets</a></h2>
        <h2 class="en"><a href="projects/" style="text-decoration: none">Projects</a></h2>

        <div class="underblock">
            <h3 class="fr">Récits & vulgarisation</h3>
            <h3 class="en">Stories & popularization</h3>
            <ul>
                <li class="fr">→ Écritures et scénarios de vulgarisation</li>
                <li class="en">→ Writings and scenarios for popularization</li>
                <li class="fr">→ Collaboration avec chercheur&middot;se&middot;s, curateur&middot;ice&middot;s, comédien&middot;ne&middot;s</li>
                <li class="en">→ Collaboration with researchers, curators and performers</li>
                <li class="fr">→ Conception et développement d'outils voués à accompagner des explications et discours oraux</li>
                <li class="en">→ Design and development of tools to support oral explanations and speeches</li>
                <li class="fr">→ Création de performances, conférences et autre formes publiques</li>
                <li class="en">→ Creation of performances, conferences and other public events</li>
            </ul>

            <div class="images">
                <figure>
                    <img src="/images/index/didactique_juliettenier00001.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/didactique_juliettenier00003.jpg" alt="juliette nier">
                    <figcaption class="fr"> Bifurcations quantiques – 2023<a href="https://youtu.be/aA5NY1jr9BQ?feature=shared"> → Voir le teaser</a></figcaption>
                    <figcaption class="en"> Quantum bifurcations – 2023 <a href="https://youtu.be/aA5NY1jr9BQ?feature=shared"> → Teaser</a></figcaption>
                </figure>
                <figure>
                    <img src="/images/index/didactique_juliettenier00002.png" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/didactique_juliettenier00006.png" alt="juliette nier">
                    <figcaption class="fr"> À propos de ce qui se passe – Épisode 2<a href="https://vimeo.com/425873218"> → Voir le teaser</a></figcaption>
                    <figcaption class="en"> About what's going on – Episod 2 <a href="https://vimeo.com/425873218"> → Teaser</a></figcaption>
                </figure>
                <figure>
                    <img src="/images/index/technogonie_jnier00007.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/technogonie_jnier00009.jpg" alt="juliette nier">
                    <figcaption class="fr"> Une technogonie, un théâtre d'ombres sur la génèse des déchets radioactifs<a href="https://youtu.be/bs6sziiTKG4?feature=shared"> → Voir le teaser</a></figcaption>
                    <figcaption class="en"> A technogony, a shadow theater about nuclear waste genesis<a href="https://youtu.be/bs6sziiTKG4?feature=shared"> → Teaser</a></figcaption>
                </figure>
            </div>
        </div>

        <div class="underblock">
            <h3 class="fr">Identités visuelles</h3>
            <h3 class="en">Visual identities</h3>
            <ul>
                <li class="fr">→ Développement de systèmes graphiques</li>
                <li class="en">→ Development of visual systems </li>
                <li class="fr">→ Dessins de logotypes, pictogrammes, caractères spécifiques</li>
                <li class="en">→ Design of logotypes, pictograms and specific typefaces</li>
                <li class="fr">→ Déclinaisons sous tout types de supports</li>
                <li class="en">→ Variations on all types of media</li>
            </ul>

            <div class="images">
                <figure>
                    <img src="/images/index/identite_juliettenier00004.png" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/identite_juliettenier00001.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/identite_juliettenier00003.gif" alt="juliette nier">
                    <figcaption class="fr">Identité pour l'École des Arts Décoratifs, avec Paul Dagorne, Damien Bauza, Pedro Cardoso & Tommy Bougé - 2021</figcaption>
                    <figcaption class="en">Identity for the École des Arts Décoratifs,with Paul Dagorne, Damien Bauza, Pedro Cardoso & Tommy Bougé - 2021</figcaption>
                </figure>

                <figure>
                    <img src="/images/index/identite_juliettenier00005.png" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/identite_juliettenier00008.jpg" alt="juliette nier">
                    <figcaption class="fr">Identité pour la Brasserie de la Vanne</figcaption>
                    <figcaption class="en">Visual identity for a craft brewery in the Paris suburbs</figcaption>
                </figure>
                <figure>
                    <img src="/images/index/identite_juliettenier00002.gif" alt="juliette nier">
                    <figcaption class="fr">Logos, lettrages divers </figcaption>
                    <figcaption class="en">Various logos for friends, or small events where the letters become
                        characters (with legs, feet and souls) </figcaption>
                </figure>
                <figure>
                    <img src="/images/index/identite_juliettenier00006.png" alt="juliette nier">
                    <figcaption class="fr">Identité pour Bellevue, un artist-run space à Douarnenez</figcaption>
                    <figcaption class="en">Graphic tools for a small artist run space
                        facing the sea in Brittany</figcaption>
                </figure>
                <figure>
                    <img src="/images/index/ideale.gif" alt="juliette nier">
                    <figcaption class="fr">Un logo pour la galerie Idéale</figcaption>
                    <figcaption class="en">A logo for the gallery "Idéale"</figcaption>
                </figure>
            </div>
        </div>

        <div class="underblock">
            <h3 class="fr">Design éditorial</h3>
            <h3 class="en">Edition design</h3>
            <ul>
                <li class="fr">→ Mise en page et séquençage de contenus</li>
                <li class="en">→ Content layout and sequencing</li>
                <li class="fr">→ Illustrations, infographies, articulation textes/images</li>
                <li class="en">→ Illustrations, infographics, relation between text and images </li>
                <li class="fr">→ Production d'objets imprimés ou numériques</li>
                <li class="en">→ Production of printed or digital objects</li>
            </ul>

            <div class="images">
                <figure>
                    <img src="/images/index/editiorial_juliettenier00010.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/editiorial_juliettenier00011.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/editiorial_juliettenier00004.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/editiorial_juliettenier00002.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/editiorial_juliettenier00005.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/editiorial_juliettenier00006.jpg" alt="juliette nier">
                </figure>
            </div>
        </div>

        <div class="underblock">
            <h3 class="fr">Espace/Signalétique</h3>
            <h3 class="en">Space/Signage</h3>
            <ul>
                <li class="fr">→ Signalétiques dans l'espace</li>
                <li class="en">→ Signage in space</li>
                <li class="fr">→ Conception de mobilier, espaces, dédiés à des performances</li>
                <li class="en">→ Conception of furnitures and spaces for performances</li>
                <li class="fr">→ Conception d'expositions</li>
                <li class="en">→ Exhibition design </li>
            </ul>

            <div class="images">
                <figure>
                    <img src="/images/index/espacejnier00006.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/decor.JPG" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/espacejnier00001.JPG" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/espacejnier00002.png" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/espacejnier00005.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/espacejnier00009.jpg" alt="juliette nier">
                    <img src="/images/index/acte1.jpg" alt="juliette nier">
                </figure>
            </div>
        </div>

            <div class="underblock">
                <h3>Workshops</h3>
                <ul>
                    <li class="fr">→ Concevoir et développer des outils pour le public</li>
                    <li class="en">→ Design and develop tools for the public</li>
                    <li class="fr">→ Partager ses expériences avec des étudiants</li>
                    <li class="en">→ Share experiments with students</li>
                    <li class="fr">→ Expérimenter de nouveaux espaces et chemins de transmissions</li>
                    <li class="en">→ Experiment through new transmission paths and spaces</li>
                </ul>

                <div class="images">
                    <figure>
                        <img src="/images/index/workshopjnier00003.jpg" alt="juliette nier">
                    </figure>
                    <figure>
                        <img src="/images/index/workshopjnier00004.jpg" alt="juliette nier">
                    </figure>
                    <figure>
                        <img src="/images/index/post_insta6.jpg" alt="juliette nier">
                    </figure>
                </div>
            </div>

    </div>

    <div id="contact" class="block" style="background-color:#F1FF80;">
        <h2>Contact</h2>
        <ul>
            <li><a href="mailto:juliette.nier@gmail.com" style="text-decoration: none">→ juliette.nier@gmail.com</a></li>
            <li><a href="https://www.instagram.com/juliette_nier/?hl=fr" style="text-decoration: none">→ Instagram</a></li>
            <li><a href="www.linkedin.com/in/juliette-nier-476465229" style="text-decoration: none">→ LinkedIn</a></li>
        </ul>
    </div>

{% endblock %}