{% extends "base.html" %}

{% block content %}

<div id="index" class="container" style="background-color: none;">

    <div class="block" style="background-color: #C0EBFF; ">
        <h1>→ DESIGN GRAPHIQUE, VULGARISATION, RÉCITS</h1>
    </div>

    <div class="block" style="background-color: #BDD5D8;">
        <h2>RÉCEMMENT</h2>

        <div class="images">
            <figure>
                <img src="/images/index/didactique_juliettenier00005.jpg" alt="juliette nier">
                <figcaption>Plusieurs projets de conférences manipulées imaginés pendant ma résidence avec <a href="https://hebergement.universite-paris-saclay.fr/supraconductivite/projet/bifurcations_quantiques/">La Physique Autrement.</a></figcaption>
            </figure>

            <figure>
                <img src="/images/index/toktoks.png" alt="juliette nier">
                <figcaption><a href="https://hebergement.universite-paris-saclay.fr/supraconductivite/projet/toktok/"> Une identité</a> pour la chaîne de vidéos tiktoks de Julien Bobroff</figcaption>
            </figure>

            <figure>
                <img src="/images/index/ptoz.gif" alt="juliette nier">
                <figcaption> Déménagement à Zurich pour l'année 2024. Je reste joignable sur mon téléphone français et <a href="mailto:juliette.nier@gmail.com">mon e-mail</a></figcaption>
            </figure>
        </div>

    </div>

    <!-- les filtres -->
    <div class="block" style="background-color: white;">

        <h2><a href="projets/" style="text-decoration: none">PROJETS</a></h2>

        <div class="underblock">
            <h3>RÉCITS & VULGARISATION</h3>
            <ul>
                <li>→ Écritures et scénarios de vulgarisation</li>
                <li>→ Collaboration avec chercheur&middot;se&middot;s, curateur&middot;ice&middot;s, comédien&middot;ne&middot;s</li>
                <li>→ Conception développement d'outils voués à accompagner des explications et discours oraux</li>
                <li>→ Création de performances, conférences et autre formes publiques</li>
            </ul>

            <div class="images">
                <figure>
                    <img src="/images/index/didactique_juliettenier00001.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/didactique_juliettenier00003.jpg" alt="juliette nier">
                    <figcaption> Bifurcations quantiques – 2023<a href="https://youtu.be/aA5NY1jr9BQ?feature=shared">→ Voir le teaser</a></figcaption>
                </figure>
                <figure>
                    <img src="/images/index/didactique_juliettenier00002.png" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/didactique_juliettenier00006.png" alt="juliette nier">
                    <figcaption> À propos de ce qui se passe – Épisode 2<a href="https://vimeo.com/425873218">→ Voir le teaser</a></figcaption>
                </figure>
                <figure>
                    <img src="/images/index/technogonie_jnier00007.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/technogonie_jnier00009.jpg" alt="juliette nier">
                    <figcaption> Une technogonie, un théâtre d'ombres sur la génèse des déchets radioactifs<a href="https://youtu.be/bs6sziiTKG4?feature=shared">→ Voir le teaser</a></figcaption>
                </figure>
            </div>
        </div>

        <div class="underblock">
            <h3>IDENTITÉS VISUELLES</h3>
            <ul>
                <li>→ Développement de systèmes graphiques</li>
                <li>→ Dessins de logotypes, pictogrammes, caractères spécifiques</li>
                <li>→ Déclinaisons sous tout types de supports</li>
            </ul>

            <div class="images">
                <figure>
                    <img src="/images/index/identite_juliettenier00004.png" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/identite_juliettenier00001.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/identite_juliettenier00003.gif" alt="juliette nier">
                    <figcaption>Identité pour l'École des Arts Décoratifs, avec Paul Dagorne, Damien Bauza, Pedro Cardoso & Tommy Bougé - 2021</figcaption>
                </figure>

                <figure>
                    <img src="/images/index/identite_juliettenier00005.png" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/identite_juliettenier00008.jpg" alt="juliette nier">
                    <figcaption>Identité pour la Brasserie de la Vanne</figcaption>
                </figure>
                <figure>
                    <img src="/images/index/identite_juliettenier00002.gif" alt="juliette nier">
                    <figcaption>Logos, lettrages divers </figcaption>
                </figure>
                <figure>
                    <img src="/images/index/identite_juliettenier00006.png" alt="juliette nier">
                    <figcaption>Identité pour Bellevue, un artist-run space à Douarnenez</figcaption>
                </figure>
                <figure>
                    <img src="/images/index/ideale.gif" alt="juliette nier">
                    <figcaption>Un logo pour la galerie Idéale</figcaption>
                </figure>
            </div>
        </div>

        <div class="underblock">
            <h3>DESIGN ÉDITORIAL</h3>
            <ul>
                <li>→ Mise en page et séquençage de blocks</li>
                <li>→ Illustrations, infographies, articulation textes/images</li>
                <li>→ Production d'objets imprimés ou numériques</li>
            </ul>

            <div class="images">
                <figure>
                    <img src="/images/index/editiorial_juliettenier00010.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/editiorial_juliettenier00011.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/editiorial_juliettenier00004.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/editiorial_juliettenier00002.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/editiorial_juliettenier00005.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/editiorial_juliettenier00006.jpg" alt="juliette nier">
                </figure>
            </div>
        </div>

        <div class="underblock">
            <h3>ESPACE/SIGNALÉTIQUE</h3>
            <ul>
                <li>→ Signalétiques dans l'espace</li>
                <li>→ Conception de mobilier, espaces, dédiés à des performances</li>
                <li>→ Conception d'expositions</li>
            </ul>

            <div class="images">
                <figure>
                    <img src="/images/index/espacejnier00006.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/decor.JPG" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/espacejnier00001.JPG" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/espacejnier00002.png" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/espacejnier00005.jpg" alt="juliette nier">
                </figure>
                <figure>
                    <img src="/images/index/espacejnier00009.jpg" alt="juliette nier">
                    <img src="/images/index/acte1.jpg" alt="juliette nier">
                </figure>
            </div>
        </div>

            <div class="underblock">
                <h3>WORKSHOPS</h3>
                <ul>
                    <li>→ Concevoir et développer des outils pour le public</li>
                    <li>→ Partager ses expériences avec des étudiants</li>
                    <li>→ Expérimenter de nouveaux espaces et chemins de transmissions</li>
                </ul>

                <div class="images">
                    <figure>
                        <img src="/images/index/workshopjnier00003.jpg" alt="juliette nier">
                    </figure>
                    <figure>
                        <img src="/images/index/workshopjnier00004.jpg" alt="juliette nier">
                    </figure>
                    <figure>
                        <img src="/images/index/post_insta6.jpg" alt="juliette nier">
                    </figure>
                </div>
            </div>

    </div>

    <div class="block" style="background-color:#F1FF80;">
        <h2>CONTACT</h2>
        <ul>
            <li><a href="mailto:juliette.nier@gmail.com" style="text-decoration: none">→ juliette.nier@gmail.com</a></li>
            <li><a href="https://www.instagram.com/juliette_nier/?hl=fr" style="text-decoration: none">→ Instagram</a></li>
            <li><a href="www.linkedin.com/in/juliette-nier-476465229" style="text-decoration: none">→ LinkedIn</a></li>
        </ul>
    </div>

{% endblock %}