{% extends "base.html" %}

{% block content %}

{% set rightArticles = [] %}
{% for article in articles if article.lang == page.lang %}
    {{ rightArticles.append(article) or "" }}
{% endfor %}

{% set rightCats = [] %}
{% for cat in rightArticles %}
    {{ rightCats.append(cat.category) or "" }}
{% endfor %}

<div id="container">

    <div id="filters">
        <button class="active">TOUT</button>
        {% for el in rightCats | unique %}
            <button>{{ el }}</button>
        {% endfor %}
    </div>

    <div id="projects" class="container">

        {% for article in rightArticles %}
                <div class="block" style="{{ article.background }}" data-tag="{{ article.category }}">
                    <div class="caroussel">
                        <div class="cursor left prev"></div>
                        <div class="cursor right next"></div>
                        <ul class="serie">
                            {% for image in article.galleryimages %}
                            <li {% if loop.first %} class="active"{% endif %}><img src="{{ SITEURL }}/images/gallery/{{ article.album }}/{{ image }}"></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <h1>{{ article.title }}</h1>
                    <div class="texte">
                        {{ article.content }}
                    </div>
                    <div class="details">
                        <span>{{ article.place }}, {{ article.date|strftime('%Y') }}</span>
                        <span>{{ article.partners }}</span>
                        <span>{{ article.category }}</span>
                    </div>
                    {% if article.video is defined %}
                        <iframe src="{{ article.video }}" frameborder="0" allowfullscreen=""></iframe>
                    {% endif %}
                </div>
        {% endfor %}

    </div>
</div>
{% endblock %}