@charset "UTF-8";

/* CSS Document */
/* reset */
@font-face {
  font-family: 'apercumedium';
  src: url('fonts/Brut_Grotesque_WEB-Light.woff');
  font-weight: 500;
  font-style: normal;
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #D0D0D0;
  color: black;
  font-family: 'apercumedium';
  letter-spacing: 0px;
}






a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: #8B35FF;
}

#menu {
  width: 100%;
  position: fixed;
  z-index: 100000;
  background-color: #FFFFFF;
  padding: 10px;
  font-size: 1em;
}

#menu p{
  display: inline-block;
}

sup {
  font-size: 0.7em;
}

/*TEST*/
.container {
  overflow: hidden;
}

button {
  border: none;
  cursor: pointer;
}

button.active{
  background-color: #CDF0FF;
}

.red {
  background-color: red;
}

.categorie2 {
  background-color: white;
  border-radius: 12px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-left: 0.2em;
  text-align: left;

}

.titre:after {

  content: "";
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: inherit;
  margin-top: 5px;
  margin-bottom: 22px;

}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  padding-bottom: .2em;
  margin-top: 1em;
}



/*Grille*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 4px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

.cv-categories {
  float: left;
  display: inline-block;
  text-align: left;
  margin-top: 2em;
  line-height: 1.5em;
  font-size: 0.8em;
  width: 300px;
  margin-right: 2em;

}

.cv {
  width: 100%;
  position: absolute;
}

#identity,
#editions,
#contact,
#apropos,
#expo,
#ecran,
#ateliers,
#videos {
  float: left;
  text-align: center;
  margin: 5px;
  font-family: 'apercumedium';

  text-decoration: none;
  padding: 5px;
}



.texte {
  padding-top: 1.5em;
}

.texte p:first-child{
  font-size: 1.5em;
  line-height: 1.2em;
}

.texte p:nth-child(2){
  font-size: 0.9em;
  margin-top: 1em;
  text-align: center;
}

.details {
  display: flex;
  font-family: 'apercumedium';
  position: relative;
  font-size: 0.9em;
  line-height: 1.1em;
  padding-top: 1em;
  left: 0%;
}

.details span{
  flex: 1 0 0;
  text-align: center;
}



#container {
  position: absolute;
  top: 3.5em;
  width: 100%;
  left: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#identite:hover {
  background-color: #00521F;
  color: white;
}

#identite:active {
  background-color: #00521F;
  color: white;
}

.background {
  background-color: aqua;
}

#prospective {
  background: rgb(168, 255, 207);
  background: linear-gradient(180deg, rgba(230, 30, 224, 1), rgba(168, 255, 207, 1) 99%);
}

/*Caroussel*/

.right {
  margin-left: 50%;
  cursor: -webkit-image-set(url("../img/arrow-right.png") 1x,
      url("../img/arrow-right.png") 2x), pointer;
}

.left {
  margin-left: 0%;
  cursor: -webkit-image-set(url("../img/arrow-left.png") 1x,
      url("../img/arrow-left.png") 2x), pointer;
}

/*Curseur*/

.cursor {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 100;
}

/*Style des images*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 120 12px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */

.btn {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  background-color: #F1FF80;
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
  text-align: center;
  border-radius: 20px;
  float: left;
  font-variant-caps: all-petite-caps;
}



.caroussel {
  position: relative;
  width: 100%;
  /* height:600px; */
  object-fit: cover;
}

.caroussel ul li img {
  width: 100%;
}

.caroussel ul li {
  display: none;
}

.caroussel ul li.active {
  display: block;
}








.contenu {
  position: relative;
  width: 100%;
  padding: 20px;
  height: 100%;

}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.showing {
  opacity: 1;
  z-index: 2;
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}

@media screen and (max-width: 780px)and (orientation:portrait) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  /* .caroussel {
    height: 300px;
  } */

  .texte {
    width: 100%;
    font-size: 1em;
  }

  #filtres {
    position: relative;
    z-index: 10000;
    top: 40px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 80px;
  }

  #filtres2 {
    visibility: visible;
  }

  .btn {
    float: none;
    width: 90%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #F1FF80;
    font-size: 1.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: black;
    border-radius: 20px;
    font-variant-caps: all-petite-caps;
  }

}


@media screen and (min-width: 1200px) {

  /* .caroussel {height: 600px;} */
  .texte {
    width: 100%;
  }

  #projets {
    width: 70%;
    margin-left: 15%;
  }

  #filtres {
    position: fixed;
    z-index: 100000;
    margin-top: 1em;
    left: 50%;
    transform: translateX(-50%);
  }

  #filtres2 {
    visibility: hidden;
  }

  .btn {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #F1FF80;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
    text-align: center;
    border-radius: 20px;
    float: left;
    font-variant-caps: all-petite-caps;
  }
}





@media screen and (min-width: 600px) and (max-width: 1200px) {
  /* .caroussel {
    height: 600px;
  } */

  .texte {
    width: 100%;
  }

  #filtres {
    position: fixed;
    z-index: 100000;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #filtres2 {
    visibility: hidden;
  }

  .btn {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #F1FF80;
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
    text-align: center;
    border-radius: 20px;
    float: left;
    font-variant-caps: all-petite-caps;
    font-family: 'apercumedium';
  }

}